@mixin special
    color: red
    background-color: yellow
    padding: 10px
    border: 1px solid red
    border-radius: 5px
    transition: 0.3s

    &:hover
        color: blue
        border-color: blue

@mixin green
    border-color: green
    color: green

@mixin espacamento($p, $m)
    padding: $p
    margin: $m

@mixin borda( $color,$style: solid, $width: 1px)
    border: $style $color $width

@mixin colors($font: #000, $background: #fff)
    color: $font
    background-color: $background
