@import 'variables'
@import 'button'
@import 'mixins'

body
    margin: 20px

.p-esp
    @include special

h2
    @include special
    @include green

.esp-menor
    @include espacamento(10px,10px)
    @include borda(solid, red)

.esp-media
    @include espacamento(15px,15px)
    @include borda(dotted, blue, 4px)

.esp-maior
    @include espacamento(25px,25px)
    @include borda(green)

.esp-maior-ainda
    $pad: 50px
    $mar: 50px
    @include espacamento($pad, $mar)
