/* static (padrão) */
/* relative */
/* fixed */
/* absolute */
/* sticky */

.position {
  width: 500px;
  height: 500px;
  background-color: red;
}

.static {
  position: static;
}

.relative {
  /* Relativo ao elemento anterior */
  position: relative;
  background-color: blue;
  color: #fff;
  top: 100px;
  left: 50px;
}

.absolute {
  /* Relativo ao elemento pai */
  position: absolute;
  background-color: purple;
  top: 0;
  right: 0;
}

.mini-div {
  height: 50px;
  width: 50px;
  top: 50px;
  left: 0;
}

.fixed {
  /* Relativo ao viewport */
  position: fixed;
  height: 200px;
  background-color: green;
  bottom: 0;
  right: 0;
}

.sticky {
  /* Estático até o scroll alcançar, depois se torna relativa ao viewport */
  position: sticky;
  background-color: orangered;
  top: 50px;
}