/* static (padrão) */
/* relative */
/* fixed */
/* absolute */
/* sticky */

.position {
  width: 500px;
  height: 500px;
  background-color: red;
}

.static {
  position: static;
}

.relative {
  position: relative;
  background-color: blue;
  color: #fff;
  top: 100px;
  left: 50px;
}