/* static (padrão) */
/* relative */
/* fixed */
/* absolute */
/* sticky */

.position {
  width: 500px;
  height: 500px;
  background-color: red;
}

.static {
  position: static;
}

.relative {
  position: relative;
  background-color: blue;
  color: #fff;
  top: 100px;
  left: 50px;
}

.absolute {
  position: absolute;
  background-color: purple;
  top: 0;
  right: 0;
}

.mini-div {
  height: 50px;
  width: 50px;
  top: 50px;
  left: 0;
}