// Fonts
$font-stack: "Helvetica";

// Colors
$text-color: #fff;
$text-color-secondary: #a6a6a6;
$body-bg-color: #271b31;
$bg-color: #111;
$bg-color-secondary: #1d1d1d;
$gradient: linear-gradient(90deg, rgba(82, 82, 250, 1) 0%, rgba(36, 118, 221, 1) 100%);

$linkedin-color: #0072b1;
$github-color: #ccc;
$instagram-color: #bc2a8d;

// Sizes
$container-border-radius: 10px;
$card-border-radius: 5px;