@use "sass:map";

$a: 10;

@debug $a;
@debug $a + 10px;

$str: "Roboto";
$str2: Roboto;

@debug $str == $str2;

$nome-da-fonte: "Open";
$var1: "Sans";
$var2: "Teste";

@debug $nome-da-fonte + " " + $var1;
@debug $nome-da-fonte + " " + $var2;

p {
    font-family: $nome-da-fonte + " " + $var1;
}

h1 {
    font-family: "#{$nome-da-fonte} #{$var2}";
}

$h: hidden;

h2 {
    display: $h;
    color: midnightblue;
}

@debug #f2ec44;
@debug blue;
@debug midnightblue;
@debug rgb(201, 50, 124);
@debug rgba(123, 231, 144, 0.8);
@debug hsl(34, 50%, 92%);
@debug #f5ece0;

$lista: 10, 20, 30;

@each $valor in $lista {
    @debug $valor + 1;
}

@each $font in $lista {
    .p-#{$font} {
        font-size: $font + "px";
    }
}

$font-weights: (
    "regular": 400,
    "bold": 800,
    "black": 800,
);

h3 {
    font-weight: map.get($font-weights, "black");
}

@each $key, $value in $font-weights {
    .p-#{$key} {
        font-weight: $value;
    }
}
