@use "sass:color";
@use "sass:list";

$color-adjust: color.adjust(#6b717f, $red: 25);
$color-adjust-2: color.adjust(#6b717f, $red: 25, $blue: 100);

.color-1 {
    color: $color-adjust;
    background-color: $color-adjust-2;
}

@debug "Green quantity on $color-adjust =" color.green($color-adjust);
@debug "Blue quantity on $color-adjust =" color.blue($color-adjust);

$color-scale: color.scale($color-adjust-2, $lightness: -40%);
$color-scale-2: color.scale($color-adjust-2, $lightness: 40%);

.color-2 {
    background-color: $color-scale;
}

.color-3 {
    background-color: $color-scale-2;
}

.color-4 {
    background-color: color.invert($color-scale-2);
}

.color-5 {
    background-color: color.mix(#123123, #4f2f3f);
}

.color-6 {
    background-color: color.adjust(#4f1f33, $saturation: -60%);
}

.color-7 {
    background-color: color.adjust(#4f1f33, $lightness: 0%);
    transition: 0.5s;

    &:hover {
        background-color: color.adjust(#4f1f33, $lightness: 60%);
    }
}

$lista: 10px, 20px, 30px;

@debug "$lista" $lista;

$lista: list.append($lista, 40px);

@debug "$lista" $lista;

@debug "list.index($lista, 20px)" list.index($lista, 20px);
@debug "list.index($lista, 50px)" list.index($lista, 50px);

@if (list.index($lista, 50px) == null) {
    $lista: list.append($lista, 50px);
}

@debug "$lista" $lista;