.container {
  display: flex;
  width: 100%;
  background-color: #ddd;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  flex-grow: 1;
  flex-basis: 100px;
}

.first,
.order-first {
  background-color: blueviolet;
  flex-shrink: 1;
}

.second,
.order-second {
  background-color: green;
  flex-shrink: 1;
}

.third,
.order-third {
  background-color: brown;
  flex-shrink: 2;
}

.order-first {
  order: 1;
}

.order-second {
  order: 2;
}

.order-third {
  order: 3;
}
