.container {
  display: flex;
  width: 100%;
  background-color: #ddd;
}

.box {
  height: 100px;
  margin: 10px;
  flex-grow: 1;
  flex-basis: 500px;
}

.first {
  background-color: blueviolet;
  flex-shrink: 1;
}

.second {
  background-color: green;
  flex-shrink: 1;
}

.third {
  background-color: brown;
  flex-shrink: 2;
}
