div, main
    background: #DDD

    p, h2
        color: blue

main

    .red-text
        color: red

li
    color: purple

ol
    > li
        color: darkgreen

a
    text-decoration: none
    color: darkred
    transition: .5s
    padding: 10px
    border: 1px solid darkred
    display: block
    width: 150px
    text-align: center

    &:hover
        background-color: darkred
        color: white

.container
    background-color: #ccc
    padding: 20px
    margin: 20px

    &-content
        color: red

.spacing
    padding: 200px

.btn
    padding: 10px 20px
    border: 1px solid darkblue
    border-radius: 5px
    color: #fff
    background-color: blue
    cursor: pointer
    margin: 5px

    &:hover
        background-color: transparent
        color: blue

    &-success
        border: 1px solid darkgreen
        background-color: green

        &:hover
            color: green

    &-danger
        border: 1px solid darkred
        background-color: red

        &:hover
            color: red

%base-title-style
    border-bottom: 3px dotted red
    padding: 14px
    background-color: yellow
    text-align: center

.title
    font-size: 30px
    @extend %base-title-style

.sub-title
    font-size: 25px
    @extend %base-title-style