h1 {
  color: red;
}

p {
  color: green;
}

.forced-text {
  color: black;
  font-style: normal;
  font-weight: 900;
}

/* seletor */
h2 {
  /* propriedade: valor; */
  color: green;
  /* propriedade: valor; */
  font-size: 50px;
  /* propriedade: valor; */
  text-align: center;
}

/*
  Este é
  um comentário
*/

/* Classes e Ids */
#titulo-app {
  font-size: 30px;
}

.p-texto {
  color: blueviolet;
}

/* Cores */
#nome-cor {
  color: purple;
}

#hexa-cor {
  color: #87dd44;
}

#rgba-cor {
  color: rgba(150, 23, 21, 0.5);
}

/* Backgrounds */
.backgrounds {
  background-image: url("img/sunset.webp");
  height: 300px;
}

.titulo-background {
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* Fontes */
.fontes * {
  color: #000;
}

.titulo-fontes {
  font-size: 100px;
}

.familia {
  font-size: 40px;
}

.serif {
  font-family: "times new rome";
}

.sans-serif {
  font-family: arial;
}

.monospace {
  font-family: "Courier New";
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.bold {
  font-weight: bold;
}

.small-caps {
  font-variant: small-caps;
}